/bin/Debug/0Harmony.dll
/bin/Debug/Assembly-CSharp.dll
/bin/Debug/Assembly-CSharp.pdb
/bin/Debug/Assembly-CSharp-firstpass.dll
/bin/Debug/Assembly-CSharp-firstpass.pdb
/bin/Debug/AstarPathfindingProject.dll
/bin/Debug/AstarPathfindingProject.pdb
/bin/Debug/Cinemachine.dll
/bin/Debug/Cinemachine.pdb
/bin/Debug/com.rlabrecque.steamworks.net.dll
/bin/Debug/com.rlabrecque.steamworks.net.pdb
/bin/Debug/DesperateDevs.Logging.dll
/bin/Debug/DesperateDevs.Utils.dll
/bin/Debug/Entitas.CodeGeneration.Attributes.dll
/bin/Debug/Entitas.dll
/bin/Debug/Entitas.VisualDebugging.Unity.dll
/obj/Debug/it.miket.277AEA75.Up2Date
/obj/Debug/it.miketan.PilotSerial.csproj.AssemblyReference.cache
/obj/Debug/it.miketan.PilotSerial.csproj.CoreCompileInputs.cache
/obj/Debug/it.miketan.PilotSerial.csproj.FileListAbsolute.txt
/bin/Debug/MeshBakerCore.dll
/bin/Debug/MeshBakerCore.pdb
/bin/Debug/Newtonsoft.Json.dll
/bin/Debug/Newtonsoft.Json.pdb
/bin/Debug/Pathfinding.ClipperLib.dll
/bin/Debug/Pathfinding.Ionic.Zip.Reduced.dll
/bin/Debug/Pathfinding.Poly2Tri.dll
/bin/Debug/QFSW.QC.dll
/bin/Debug/QFSW.QC.Parsers.dll
/bin/Debug/QFSW.QC.Parsers.pdb
/bin/Debug/QFSW.QC.pdb
/bin/Debug/Rewired_Core.dll
/bin/Debug/Rewired_Windows.dll
/bin/Debug/SALSA.dll
/bin/Debug/sc.posteffects.runtime.dll
/bin/Debug/sc.posteffects.runtime.pdb
/bin/Debug/ShapesRuntime.dll
/bin/Debug/ShapesRuntime.pdb
/bin/Debug/SimpleSplines.dll
/bin/Debug/SimpleSplines.pdb
/bin/Debug/Sirenix.OdinInspector.Attributes.dll
/bin/Debug/Sirenix.OdinInspector.Attributes.pdb
/bin/Debug/Sirenix.Utilities.dll
/bin/Debug/Sirenix.Utilities.pdb
/bin/Debug/StompyRobot.SRDebugger.dll
/bin/Debug/StompyRobot.SRDebugger.pdb
/bin/Debug/StompyRobot.SRF.dll
/bin/Debug/StompyRobot.SRF.pdb
/bin/Debug/System.dll
/bin/Debug/Unity.Analytics.DataPrivacy.dll
/bin/Debug/Unity.Analytics.DataPrivacy.pdb
/bin/Debug/Unity.Animation.Rigging.dll
/bin/Debug/Unity.Animation.Rigging.pdb
/bin/Debug/Unity.Burst.dll
/bin/Debug/Unity.Burst.pdb
/bin/Debug/Unity.Burst.Unsafe.dll
/bin/Debug/Unity.Collections.dll
/bin/Debug/Unity.Collections.LowLevel.ILSupport.dll
/bin/Debug/Unity.Collections.pdb
/bin/Debug/Unity.Entities.dll
/bin/Debug/Unity.Entities.Hybrid.dll
/bin/Debug/Unity.Entities.Hybrid.pdb
/bin/Debug/Unity.Entities.pdb
/bin/Debug/Unity.Jobs.dll
/bin/Debug/Unity.Jobs.pdb
/bin/Debug/Unity.Mathematics.dll
/bin/Debug/Unity.Mathematics.Extensions.dll
/bin/Debug/Unity.Mathematics.Extensions.pdb
/bin/Debug/Unity.Mathematics.pdb
/bin/Debug/Unity.Postprocessing.Runtime.dll
/bin/Debug/Unity.Postprocessing.Runtime.pdb
/bin/Debug/Unity.Properties.dll
/bin/Debug/Unity.Properties.pdb
/bin/Debug/Unity.Scenes.dll
/bin/Debug/Unity.Scenes.pdb
/bin/Debug/Unity.Serialization.dll
/bin/Debug/Unity.Serialization.pdb
/bin/Debug/Unity.SharpZipLib.dll
/bin/Debug/Unity.TextMeshPro.dll
/bin/Debug/Unity.TextMeshPro.pdb
/bin/Debug/Unity.Timeline.dll
/bin/Debug/Unity.Timeline.pdb
/bin/Debug/Unity.Transforms.dll
/bin/Debug/Unity.Transforms.pdb
/bin/Debug/UnityEngine.AccessibilityModule.dll
/bin/Debug/UnityEngine.AccessibilityModule.pdb
/bin/Debug/UnityEngine.AIModule.dll
/bin/Debug/UnityEngine.AIModule.pdb
/bin/Debug/UnityEngine.AndroidJNIModule.dll
/bin/Debug/UnityEngine.AndroidJNIModule.pdb
/bin/Debug/UnityEngine.AnimationModule.dll
/bin/Debug/UnityEngine.AnimationModule.pdb
/bin/Debug/UnityEngine.ARModule.dll
/bin/Debug/UnityEngine.ARModule.pdb
/bin/Debug/UnityEngine.AssetBundleModule.dll
/bin/Debug/UnityEngine.AssetBundleModule.pdb
/bin/Debug/UnityEngine.AudioModule.dll
/bin/Debug/UnityEngine.AudioModule.pdb
/bin/Debug/UnityEngine.ClothModule.dll
/bin/Debug/UnityEngine.ClothModule.pdb
/bin/Debug/UnityEngine.ClusterInputModule.dll
/bin/Debug/UnityEngine.ClusterInputModule.pdb
/bin/Debug/UnityEngine.ClusterRendererModule.dll
/bin/Debug/UnityEngine.ClusterRendererModule.pdb
/bin/Debug/UnityEngine.CoreModule.dll
/bin/Debug/UnityEngine.CoreModule.pdb
/bin/Debug/UnityEngine.CrashReportingModule.dll
/bin/Debug/UnityEngine.CrashReportingModule.pdb
/bin/Debug/UnityEngine.DirectorModule.dll
/bin/Debug/UnityEngine.DirectorModule.pdb
/bin/Debug/UnityEngine.dll
/bin/Debug/UnityEngine.DSPGraphModule.dll
/bin/Debug/UnityEngine.DSPGraphModule.pdb
/bin/Debug/UnityEngine.GameCenterModule.dll
/bin/Debug/UnityEngine.GameCenterModule.pdb
/bin/Debug/UnityEngine.GridModule.dll
/bin/Debug/UnityEngine.GridModule.pdb
/bin/Debug/UnityEngine.ImageConversionModule.dll
/bin/Debug/UnityEngine.ImageConversionModule.pdb
/bin/Debug/UnityEngine.IMGUIModule.dll
/bin/Debug/UnityEngine.IMGUIModule.pdb
/bin/Debug/UnityEngine.InputLegacyModule.dll
/bin/Debug/UnityEngine.InputLegacyModule.pdb
/bin/Debug/UnityEngine.InputModule.dll
/bin/Debug/UnityEngine.InputModule.pdb
/bin/Debug/UnityEngine.JSONSerializeModule.dll
/bin/Debug/UnityEngine.JSONSerializeModule.pdb
/bin/Debug/UnityEngine.LocalizationModule.dll
/bin/Debug/UnityEngine.LocalizationModule.pdb
/bin/Debug/UnityEngine.ParticleSystemModule.dll
/bin/Debug/UnityEngine.ParticleSystemModule.pdb
/bin/Debug/UnityEngine.pdb
/bin/Debug/UnityEngine.PerformanceReportingModule.dll
/bin/Debug/UnityEngine.PerformanceReportingModule.pdb
/bin/Debug/UnityEngine.Physics2DModule.dll
/bin/Debug/UnityEngine.Physics2DModule.pdb
/bin/Debug/UnityEngine.PhysicsModule.dll
/bin/Debug/UnityEngine.PhysicsModule.pdb
/bin/Debug/UnityEngine.ScreenCaptureModule.dll
/bin/Debug/UnityEngine.ScreenCaptureModule.pdb
/bin/Debug/UnityEngine.SharedInternalsModule.dll
/bin/Debug/UnityEngine.SharedInternalsModule.pdb
/bin/Debug/UnityEngine.SpriteMaskModule.dll
/bin/Debug/UnityEngine.SpriteMaskModule.pdb
/bin/Debug/UnityEngine.SpriteShapeModule.dll
/bin/Debug/UnityEngine.SpriteShapeModule.pdb
/bin/Debug/UnityEngine.StreamingModule.dll
/bin/Debug/UnityEngine.StreamingModule.pdb
/bin/Debug/UnityEngine.SubsystemsModule.dll
/bin/Debug/UnityEngine.SubsystemsModule.pdb
/bin/Debug/UnityEngine.TerrainModule.dll
/bin/Debug/UnityEngine.TerrainModule.pdb
/bin/Debug/UnityEngine.TerrainPhysicsModule.dll
/bin/Debug/UnityEngine.TerrainPhysicsModule.pdb
/bin/Debug/UnityEngine.TextCoreModule.dll
/bin/Debug/UnityEngine.TextCoreModule.pdb
/bin/Debug/UnityEngine.TextRenderingModule.dll
/bin/Debug/UnityEngine.TextRenderingModule.pdb
/bin/Debug/UnityEngine.TilemapModule.dll
/bin/Debug/UnityEngine.TilemapModule.pdb
/bin/Debug/UnityEngine.TLSModule.dll
/bin/Debug/UnityEngine.TLSModule.pdb
/bin/Debug/UnityEngine.UI.dll
/bin/Debug/UnityEngine.UI.pdb
/bin/Debug/UnityEngine.UIElementsModule.dll
/bin/Debug/UnityEngine.UIElementsModule.pdb
/bin/Debug/UnityEngine.UIElementsNativeModule.dll
/bin/Debug/UnityEngine.UIElementsNativeModule.pdb
/bin/Debug/UnityEngine.UIModule.dll
/bin/Debug/UnityEngine.UIModule.pdb
/bin/Debug/UnityEngine.UNETModule.dll
/bin/Debug/UnityEngine.UNETModule.pdb
/bin/Debug/UnityEngine.UnityAnalyticsCommonModule.dll
/bin/Debug/UnityEngine.UnityAnalyticsCommonModule.pdb
/bin/Debug/UnityEngine.UnityAnalyticsModule.dll
/bin/Debug/UnityEngine.UnityAnalyticsModule.pdb
/bin/Debug/UnityEngine.UnityConnectModule.dll
/bin/Debug/UnityEngine.UnityConnectModule.pdb
/bin/Debug/UnityEngine.UnityCurlModule.dll
/bin/Debug/UnityEngine.UnityCurlModule.pdb
/bin/Debug/UnityEngine.UnityWebRequestAssetBundleModule.dll
/bin/Debug/UnityEngine.UnityWebRequestAssetBundleModule.pdb
/bin/Debug/UnityEngine.UnityWebRequestAudioModule.dll
/bin/Debug/UnityEngine.UnityWebRequestAudioModule.pdb
/bin/Debug/UnityEngine.UnityWebRequestModule.dll
/bin/Debug/UnityEngine.UnityWebRequestModule.pdb
/bin/Debug/UnityEngine.UnityWebRequestTextureModule.dll
/bin/Debug/UnityEngine.UnityWebRequestTextureModule.pdb
/bin/Debug/UnityEngine.UnityWebRequestWWWModule.dll
/bin/Debug/UnityEngine.UnityWebRequestWWWModule.pdb
/bin/Debug/UnityEngine.VehiclesModule.dll
/bin/Debug/UnityEngine.VehiclesModule.pdb
/bin/Debug/UnityEngine.VFXModule.dll
/bin/Debug/UnityEngine.VFXModule.pdb
/bin/Debug/UnityEngine.VideoModule.dll
/bin/Debug/UnityEngine.VideoModule.pdb
/bin/Debug/UnityEngine.VirtualTexturingModule.dll
/bin/Debug/UnityEngine.VirtualTexturingModule.pdb
/bin/Debug/UnityEngine.VRModule.dll
/bin/Debug/UnityEngine.VRModule.pdb
/bin/Debug/UnityEngine.WindModule.dll
/bin/Debug/UnityEngine.WindModule.pdb
/bin/Debug/UnityEngine.XRModule.dll
/bin/Debug/UnityEngine.XRModule.pdb
/bin/Debug/UnityUtilities.dll
/bin/Debug/UnityUtilities.pdb
